[Unit]
Description=Check Plane Pet public IP certificate renewal hourly, without an end date

[Timer]
OnCalendar=*-*-* *:17:00
RandomizedDelaySec=10m
Persistent=true

[Install]
WantedBy=timers.target
