1 ICON "assets/plane_pet.ico"
101 RCDATA "assets/emojis/laugh.png"
102 RCDATA "assets/emojis/cry.png"
103 RCDATA "assets/emojis/angry.png"
104 RCDATA "assets/emojis/beckon.gif"
151 RCDATA "assets/planes/pet-red-d2.png"
152 RCDATA "assets/planes/pet-blue-d2.png"
153 RCDATA "assets/planes/pet-cloud-d2-1.png"
154 RCDATA "assets/planes/pet-cloud-d2-2.png"
155 RCDATA "assets/planes/pet-cloud-d2-3.png"
