1 ICON "assets/plane_pet.ico"
#include "../dist/PlanePetVersion.rc"
101 RCDATA "assets/emojis/laugh.png"
102 RCDATA "assets/emojis/cry.png"
103 RCDATA "assets/emojis/angry.png"
104 RCDATA "assets/emojis/beckon.gif"
151 RCDATA "assets/planes/pet-red-d2.png"
152 RCDATA "assets/planes/pet-blue-d2.png"
153 RCDATA "assets/planes/pet-cloud-d2-1.png"
154 RCDATA "assets/planes/pet-cloud-d2-2.png"
155 RCDATA "assets/planes/pet-cloud-d2-3.png"
161 RCDATA "assets/hearts/history-classic-a.png"
162 RCDATA "assets/challenge/fist-c.png"
171 RCDATA "assets/effects/hit-12.png"
172 RCDATA "assets/effects/explosion-b-12.png"
173 RCDATA "assets/effects/smoke-b-6.png"
174 RCDATA "assets/effects/hit-word-c.png"
175 RCDATA "assets/effects/plane-blue-hp2.png"
176 RCDATA "assets/effects/plane-blue-hp1.png"
177 RCDATA "assets/effects/plane-red-hp2.png"
178 RCDATA "assets/effects/plane-red-hp1.png"
179 RCDATA "assets/effects/win-w1-120.png"
180 RCDATA "assets/effects/lost-l1.png"
191 RCDATA "PRIVACY.md"
192 RCDATA "dist/PlanePetRuntimeNotices.txt"
